* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4D04E;
    font-size: 1rem;
    font-family: "Figtree", sans-serif;
    
}

section {
    width: 320px;
    background-color: #fff;
    padding: 24px;
    border-radius: 20px;
    
    box-shadow: 8px 8px #000;
    border-radius: 1px solid #111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section > img {
    display: block;
    margin-inline: auto;
    border-radius: 10px;
}

main {
    margin-block: 24px;
}

main p:first-child {
    background-color: #F4D04E;
    color: #111;
    width: 100px;
    margin-top: 24px;
    padding: 4px 12px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
}

main p:nth-child(2) {
    margin-block: 12px;
    font-size: 12px;
}

h2 {
    margin-block: 12px;
    font-size: 20px;
}
h2:hover {
    color: #F4D04E;
    cursor: pointer;
}

figure {
    display: flex;
    align-items: center;
}

figure img {
    width: 32px;
    height: auto;
    margin-right: 12px;
}
figure  p {
    font-size: 14px;
    font-weight: bold;
}
